
DOGO.ipynb
.ipynb_checkpoints/DOGO-checkpoint.ipynb
Untitled1.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
WIP 2.html
WIP.html
rando.py
test.ipynb
python_app.ipynb
Convert.ipynb
Untitled.ipynb
__pycache__/config.cpython-36.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Convert.py
config.py
__pycache__/scrape_mars.cpython-36.pyc
.ipynb_checkpoints/mission_to_mars-checkpoint.ipynb
.ipynb_checkpoints/mission_to_mars-checkpoint.ipynb
__pycache__/scrape_mars.cpython-36.pyc
.ipynb_checkpoints/mission_to_mars-checkpoint.ipynb
